<br><br>
<div class="container"> 
    <div class="card testimonial-card mt-2 mb-3">
     <div class="card-up aqua-gradient"></div>
        <div class="col-md-4">
            <div class="avatar mx-auto white">
              <img src="assets/profile.jpg" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
          </div>
          <div class="card-body closed px-0">
              <div class="button px-2 mt-3">
                <a class="btn btn-floating btn-lg living-coral text-white float-end" style="margin-right: .75rem;"><i
                    class="fas fa-bicycle"></i></a>
              </div>
              <div class="bg-white px-4 pb-4 pt-3-5 mx-auto">
                <h5 class="card-title h5 living-coral-text">Sabrine Azaiez</h5>
                <div class="d-flex flex-column justify-content-center align-items-start living-coral-text">
                  <h6 class="card-subtitle font-weight-light">Engineer</h6>
                  <h6 class="font-small font-weight-light mt-n1">35 Years Old</h6>
                </div>
                <hr>
                <div class="d-flex justify-content-start social-icons mb-3">
                  <div>
                      <button type="button" class="btn btn-link btn-floating custom-btn mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>
                    </div>
                    <div>
                     
                    </div>
                    <div>
                        <button type="button" class="btn btn-link btn-floating custom-btn mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>
                     
                    </div>
                    <div>
                      <button type="button" class="btn btn-link btn-floating custom-btn mx-1">
                        <i class="fab fa-linkedin"></i>
                      </button>
                   
                  </div>
                    
                </div>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                      <i class="fas fa-cog me-2" ></i>
                      <button type="button" class="btn btn-custom btn-sm ms-3" >Settings</button>
                    </li>
                    <li class="list-group-item">
                      <i class="far fa-bell me-2"></i>
                      <button type="button" class="btn  btn-custom btn-sm ms-3">Check your announcements</button>
                    </li>
                    <li class="list-group-item">
                      <i class="fas fa-plus-circle me-2"></i>
                      <a href="\add-medicament">
                        <button type="button" class="btn btn-custom btn-sm ms-3 " >Post Announcement</button>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-home me-2"></i>
                        <a href="\home">
                          <button type="button" class="btn btn-custom btn-sm ms-3" >Home</button>
                        </a>
                      </li>
                      
                  </ul>
                  
    
              
            </div>
          </div>
     </div>

  </div>
