<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="row1">
        <h2 id="ab" style="text-align:center">CONTACT US</h2>
        <div   class="col">
            <div  class="container1">
              <h2> Contact Info </h2>
              <br>
              <ul class="contact-info">
                <li class="phone"><i class="fa fa-phone"></i> <a href="tel:+292372217">29 372 217</a></li><br>
                <li class="email"><i class="fa fa-envelope"></i> <a href="mailto:Hope@gmail.com">Hope@gmail.com</a></li><br>
            </ul> 
             
            </div> 
        </div>
       
        <div  class="col">
            <div class="container1">
              <h2>Follow Us </h2>
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/votre-page-facebook"><i class="fa fa-facebook-official"></i>Facebook</a></li><br>
                <li><a href="https://www.instagram.com/votre-compte-instagram/"><i class="fa fa-instagram"></i>Instagram</a></li><br>
                <li><a href="https://www.linkedin.com/in/votre-compte-linkedin/"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
               
              </ul>
            </div>
           
        </div>
       
    </div>
